/* Responsividad */
/* Media query para pantallas pequeñas (móviles y tabletas) */
@media (max-width: 550px){
 #hamburger {
    display: block;
    margin-left: 00px;
  }
    #navbar {
    display: none;
    width: 400px; 
    margin-top: 10px; 
     
  }
 
  #navbar.open {
    display: block;
    background-color: #8d8eae;
    color: #fff;
    text-decoration: underline;
    width: 420px;
    margin-left: 50px;
  }

  #navbar ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  #navbar ul li {
    margin: 5px 0;
  }
.featured-projects{
margin-top: 10px;
padding-top: 10px;
  }
}
  @media (max-width:896px){
  body{
    margin: 0 auto;
  }
 footer{
    margin: 0;
    padding: 0;
    width: 400px;
  }
      footer nav ul li {
  display:flex;
  margin: 5px 30px;
  text-decoration: underline;
  justify-content:start ;
}
footer .social-icons {
    display: flex;
    justify-content:end ;
}
footer p {
    display: flex;
    justify-content:end ;
}
}
@media (max-width: 667px) {
header{
  width: 450px;
  padding: 0;
  margin: 0;
}
#hamburguer,
#text{
  width: 60px;
}
    #cookie-popup h2{
  font-size: 1em;}
  
  .cookie-buttons{
  font-size: 0.8em;
  width: 90%;
}
.bann h2{
    font-size: 1.2em;
   }

   #hamburger {
    display: block;
    margin-left: 500px;
  }
  #navbar {
    display: none;
    width: 400px; 
    margin-top: 10px; 
     /* margin-left: 110px; */
  }
 
  #navbar.open {
    display: block;
    background-color: #8d8eae;
    color: #fff;
    text-decoration: underline;
    width: 100%;
  }

  #navbar ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  #navbar ul li {
    margin: 5px 0;
  }
}
@media (max-width: 768px) {
    .image-gallery {
        gap: 10px; /* Reducir el espacio entre las imágenes */
    }

    .image-container {
        width: 48%; /* Hacer que las imágenes ocupen dos por fila */
        height: 250px; /* Ajustar la altura en pantallas más pequeñas */
    }

    /* Desactivar el efecto de hover y filtro gris en pantallas pequeñas */
    .animated-img {
        filter: none; /* No aplicar el filtro gris en pantallas pequeñas */
        transform: none; /* No aplicar transformaciones */
    }

    .image-container:hover {
        transform: none; /* No aplicar el zoom en hover */
    }
}
@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  body{
    margin: 0 auto;
    margin-left: 30px;
  }
  .gallery-info h3 {
    font-size: 1.2rem;
  }

  .gallery-info p {
    font-size: 0.9rem;
  }
  #bann4{
    display: none;
  }

}
/* Estilos para pantallas pequeñas  */
@media (max-width: 768px) {
.carrousel {
    height: 200px;
} 
    .hero-text h1{
        font-size: 2em;
    }
    footer nav ul li {
  display:flex;
  margin: 5px 30px;
  text-decoration: underline;
  justify-content:start ;
}
footer .social-icons {
    display: flex;
    justify-content:end ;
}
footer p {
    display: flex;
    justify-content:end ;
}
.bann3 h2{
    font-size: 1em;
    padding-left: 10px;
}
   #copytext{
    padding: 30px;
    margin: 0;
    width: 750px;
   }
   #policity{
    margin: 0;
    width: 1000px;
   }
   footer{
    width: 600px;
   }
}
@media (max-width:900px){
    .hero p{
        font-size: 1rem;
    }
        .uno h2 {
font-size: 1.2em;
    }
    .uno h3{
      font-size: 0.9em
    }
    .uno {
      width: 50%;
      margin:30px;
    }
    .dos{
      width: 50%;
      padding-top: 80px;
      margin-left: 20px;
    }
    .project-grid{
 grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }
    .project h3 {
        font-size: 1.2rem;
    }
    .project p {
        font-size: 0.9rem;
    }
    .hover-box{
      
        height: 300px;
    }
    .galeria{
        margin-top: 5px;
    }
    footer li, p{
        font-size: 1em;
    }
    .d-cta h2{
    font-size: 1.3em;
   }
   .bann h2{
    font-size: 1.3em;
   }
   #politicy,
   #copytext{
    margin-left: 5px;
   }
   .text-center{
    margin:0;
    width: 100%;
   }
   #copytext{
    margin: 0;
    width: 450px;
   }
   footer{
    width: 500px;
   }
}

@media (max-width:420px) {
 .featured-projects{
margin-top: 10px;
padding-top: 10px;
  }
  #projectoh2{
font-size:1.8rem;
  }
   .d-cta h2{
    font-size: 1em;
   }
    figure{
        width: 400px;
    }
    .pfdiv p{
        font-size: 0.6rem;
        text-align: end;
        margin-right: 30px;
    }
    h1{
        font-size: 1.6em;
    }
    .first{
        font-size:1rem;
    }
    .second{
        font-size: 0.8rem;
        width: 60%;
    }
#cookie-popup h2{
  font-size: 1em;
}
  model-viewer {
    width: 300px;
    height: 200px; 
    margin: 0 ; 
    
  }
  .bann h1{
    font-size: 2.5rem;
  }
  #up{
    font-size:1rem;
  }
  .bann3 h2{
    font-size: 1.7rem;
  }
.viewer-container{
    display: flex;
    flex-direction: column;
}
  #description {
    margin-bottom: 50px;
    max-width: 100%; 
  
  }

    /* nav ul li {
display: none;
    } */
    .hero-text h1 {
        font-size: 2.7rem;
        width: 100%;
    }
.hero{
    height: 500px;
}
.hero-text p{
    font-size: 0.9rem;
}
.project-grid{
 grid-template-columns: repeat(auto-fit, minmax(198px, 1fr));
    }
    .bann h2{
        font-size: 1.1rem;
    }
    .cta h2{
        font-size: 1.4rem;
    }
     .img-item{
      
    flex-wrap: wrap;
    gap: 10px;
  }
  .carrousel  {
    height: 100px;
} 
  .hover-box {
    width: calc(50% - 10px); /* Calcula el ancho para dividir en dos columnas con un pequeño margen */
    height: auto; /* Para que la altura se ajuste proporcionalmente */
 

        height: 200px;
        width: 640px;}
 
    .galeria{
        margin-top: 5px;
    }
    .uno h2 {
font-size: 1em;
    }
    .uno h3{
      font-size: 0.5em
    }
    .uno {
      width: 40%;
      margin:30px;
    }
    .dos{
      width: 40%;
      padding-top: 50px;
      margin-left: 20px;
    }
    .bann{
      padding-bottom: 0;
    }
}
@media (max-width: 768px) {
  /* Mostrar el botón de hamburguesa en pantallas pequeñas */
  #hamburger {
    display: block;
  }
  #cookie-popup h2{
  font-size: 1.2em;
}
    .uno h2 {
font-size: 1.2em;
    }
    .uno h3{
      font-size: 0.7em
    }
    .uno {
      width: 50%;
      margin:30px;
    }
    .dos{
      width: 50%;
      padding-top: 80px;
      margin-left: 20px;
    }
.cookie-buttons{
  font-size: 0.8em;
  width: 90%;
}
.d-cta h2{
    font-size: 1.2em;
   }
   .bann h2{
    font-size: 1.2em;
   }
  /* Esconder el menú inicialmente en pantallas pequeñas */
  #navbar {
    display: none;
    width: 100%; /* Asegura que el menú ocupe toda la fila */
  }

  /* Cambiar el estilo del menú cuando se despliega */
  #navbar.open {
    display: block;
    background-color: #8d8eae;
    color: #fff;
    text-decoration: underline;
  }

  #navbar ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  #navbar ul li {
    margin: 5px 0;
  }
  .d-cta h2{font-size: 1.9em;
}
#up{
  font-size: 1.2em;
}
#head{
  font-size: 1.5em;
}
  /* Hacer que el menú se coloque debajo del logo */
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }g

  #navbar {
    margin-top: 10px; /* Asegura que haya espacio entre el logo y el menú */
  }
}
@media (max-width
:900px){
    .d-cta h2{font-size: 2em;
      
}
#banner1,
.bann-container{margin-left: 20px; margin-right:0; display: flex; width:100%;}
body{
  width: 100%;
  margin-left: 100px; 
}
}