body{
    padding:0;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-direction: row;
}
a{
   text-decoration: underline;
    color: #fff;
}
a:hover{
    color: #c1c2c1;
    text-decoration: underline;
}
article{
     padding:25px;
     background-color: #1a1c51;}

.mx-auto{
    max-width: 90%;
     margin: 30px;}

.text-center{
    background-color: #2b2e80;
}
.ng-binding{
    text-decoration: underline;
}
li{
    margin-bottom: 20px;
}